<div class="banner-bg p-3">
  <div class="row justify-content-center banner">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
      <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="text-content mr-lg-3">
          <h1 class="title-main"><span></span></h1>
          <br>
          <p>A junior <span>full-stack web developer</span> based in Tokyo, Japan. With a background in digital design and media, I specialise in <span>designing</span> and <span>coding</span> visually appealing and immersive user experiences. ✨</p>
          <%= link_to 'Download CV', '/files/Senie Calalang - CV.pdf', class: 'btn btn-outline-primary btn-lg', download: 'Senie Calalang - CV.pdf', style: 'margin-bottom: -17px;' %>
          <div class="media-icon-container">
            <div class="row my-5">
              <div class="col-12">
                <div id="contact">
                  <div class="d-flex flex-wrap">
                    <div class="button-social d-flex flex-column justify-content-center align-items-center">
                      <i class="fa-solid fa-envelope"></i>
                      <%= mail_to "senie.c88@gmail.com", "", class: 'button-social-link' %>
                    </div>
                    <div class="button-social d-flex flex-column justify-content-center align-items-center">
                      <i class="fa-brands fa-github"></i>
                      <%= link_to "", "https://github.com/88valleys", target: '_blank', class: 'button-social-link' %>
                    </div>
                    <div class="button-social d-flex flex-column justify-content-center align-items-center">
                      <i class="fa-brands fa-linkedin"></i>
                      <%= link_to "", "https://www.linkedin.com/in/senie-calalang/", target: '_blank', class: 'button-social-link' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%# <div style="justify-content: space-between">
            <a href="#" class="btn btn-primary mt-3">About</a>
            <a href="#" class="btn btn-primary mt-3" >Work</a>
            <a href="#" class="btn btn-primary mt-3">Contact me!</a>
          </div> %>
        </div>
        <br>
        <div class="d-flex justify-content-center justify-content-lg-end">
          <%= image_tag 'senie-dp.png', alt: "profile photo", class: 'avatar-large' %>
        </div>
      </div>
    </div>
  </div>
</div>